table
{
   border: 1px solid black;
   width: 100%;
   border-collapse: collapse;
}

thead th 
{
   border: 1px solid black;
   padding: 4px;
}

tbody td 
{
   border: 1px solid black;
   padding: 4px;
}

tfoot td
{
   border: 1px solid black;
   padding: 4px;
}

tfoot td
{
   text-align: right;
   padding: 4px;
}

.encabezado_empresa {
   height: 100px; 
   /*border: 1px solid green;*/
   width: 100%;
}
